html {
    background-size: cover;
    background: #0056b3 url("../image/ykps_swim_pool.webp") no-repeat fixed center center;
}

html, body {
    min-height: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.container {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

.return-button {
    position: absolute;
    top: 10px;
    left: 10px;
    color: black;
    padding: 10px 10px;
}

.return-button:hover {
    color: #0056b3;
}

/* index.html */

.logo {
    position: absolute;
    top: 10px;
    left: 15px;
}

.logo img {
    height: 75px;
    width: auto;
}

.user-logged-in {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    padding: 10px 20px; /* Padding around the text */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    font-size: 16px; /* Font size */
}

.user-logged-in a {
    color: #333; /* Text color */
    text-decoration: none; /* Remove underline */
}

.counts-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.count-box {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 45%;
    margin: 0 10px; /* Add horizontal margin to create space between boxes */
}

.count-box strong {
    display: block; /* Ensure the title is on its own line */
    margin-bottom: 10px; /* Add space between the title and the number */
}

.count-box div {
    font-size: 24px; /* Adjust the font size of the number */
    font-weight: bold; /* Make the number bold */
}

.spring-count-box {
    background-color: rgba(0, 223, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 45%;
    margin: 0 10px; /* Add horizontal margin to create space between boxes */
}

.spring-count-box strong {
    display: block; /* Ensure the title is on its own line */
    margin-bottom: 10px; /* Add space between the title and the number */
}

.spring-count-box div {
    font-size: 24px; /* Adjust the font size of the number */
    font-weight: bold; /* Make the number bold */
}

.summer-count-box {
    background-color: rgba(255, 255, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 45%;
    margin: 0 10px; /* Add horizontal margin to create space between boxes */
}

.summer-count-box strong {
    display: block; /* Ensure the title is on its own line */
    margin-bottom: 10px; /* Add space between the title and the number */
}

.summer-count-box div {
    font-size: 24px; /* Adjust the font size of the number */
    font-weight: bold; /* Make the number bold */
}

.autumn-count-box {
    background-color: rgba(255, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 45%;
    margin: 0 10px; /* Add horizontal margin to create space between boxes */
}

.autumn-count-box strong {
    display: block; /* Ensure the title is on its own line */
    margin-bottom: 10px; /* Add space between the title and the number */
}

.autumn-count-box div {
    font-size: 24px; /* Adjust the font size of the number */
    font-weight: bold; /* Make the number bold */
}

.winter-count-box {
    background-color: rgba(14, 102, 234, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 45%;
    margin: 0 10px; /* Add horizontal margin to create space between boxes */
}

.winter-count-box strong {
    display: block; /* Ensure the title is on its own line */
    margin-bottom: 10px; /* Add space between the title and the number */
}

.winter-count-box div {
    font-size: 24px; /* Adjust the font size of the number */
    font-weight: bold; /* Make the number bold */
}




/* index.html add swimmer button */
.button {
    background-color: #007bff; /* Green background */
    color: white; /* White text */
    border: none; /* Remove border */
    padding: 10px 20px; /* Add padding */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Increase font size */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
    position: inherit;
    left: 47%;
}

.button:hover {
    background-color: #0056b3; /* Darker shade of green on hover */
}

/* index.html table */

.styled-table {
    width: 100%;
    border-collapse: separate; /* Use separate borders to allow margin */
    border-spacing: 0 10px; /* Add vertical space between rows */
    margin: 15px 0;
    font-size: 18px;
    text-align: left;
    max-width: 100%; /* Ensure the table does not exceed the container width */
    overflow-x: auto; /* Add horizontal scroll if content overflows */
}

.styled-table th, .styled-table td {
    padding: 12px 15px;
}

/* table header sorting button */

.table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.asc-sort-button,
.desc-sort-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: block;
    font-size: 12px;
    color: white;
}

.asc-sort-button::after {
    content: "▲";
}

.desc-sort-button::after {
    content: "▼";
}

/**/

.styled-table thead tr {
    background-color: #007bff;
    color: #ffffff;
    text-align: left;
}

.styled-table tbody tr {
    border: 2px dotted #000; /* Add dotted border to each row */
    border-radius: 10px; /* Add rounded corners */
    margin-bottom: 10px; /* Add margin between rows */
}

/* house colors */

.house-spring {
    color: green;
}

.house-summer {
    color: #ffd700;
}

.house-autumn {
    color: red;
}

.house-winter {
    color: blue;
}

/**/

.edit-button {
    background-color: #007bff; /* Green background */
    color: white; /* White text */
    border: none; /* Remove border */
    padding: 10px 20px; /* Add padding */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Increase font size */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
    position: relative;
    float: right;
    margin-left: 10px;
}

.edit-button:hover {
    background-color: #0056b3; /* Darker shade of green on hover */
}

.delete-button {
    background-color: #007bff; /* Green background */
    color: white; /* White text */
    border: none; /* Remove border */
    padding: 10px 20px; /* Add padding */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Increase font size */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
    position: relative;
    float: right;
    margin-left: 10px;

}

.delete-button:hover {
    background-color: #0056b3; /* Darker shade of green on hover */
}

.download-button {
    background-color: #007bff; /* Green background */
    color: white; /* White text */
    border: none; /* Remove border */
    padding: 10px 20px; /* Add padding */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Increase font size */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
    position: relative;
    float: right;
}

.download-button:hover {
    background-color: #0056b3; /* Darker shade of green on hover */
}

/* index.html volunteer */

.volunteer-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.volunteer-box {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 10px; /* Add horizontal margin to create space between boxes */
}

.delete-volunteer-button {
    color: red;
    opacity: 0.9;
    background-color: transparent;
    border: none;
    padding: 0 20px;
    margin-top: 10px;
}


/*login.html*/

.login-container {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8); /* Half-transparent white */
    padding: 40px; /* Increase padding to make the box bigger */
    justify-content: center;
    border-radius: 10px; /* Slightly more rounded corners */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Slightly larger shadow */
    width: 50%;
    margin: 20px auto;
    text-align: center;
    font-size: 18px;
}

.login-container table {
    width: 100%;
}

.login-container td {
    padding: 10px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login-container input[type="submit"] {
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.login-container input[type="submit"]:hover {
    background-color: #0056b3; /* Darker shade of primary color */
}

/* add_swimmer.html */

.add-swimmer-container {
    position: relative; /* Ensure the container has relative positioning */
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: 20px auto;
    text-align: center;
}

.add-swimmer-container h1 {
    margin-bottom: 20px;
}

.add-swimmer-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-swimmer-container form .submit-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.add-swimmer-container form .submit-button:hover {
    background-color: #0056b3;
}

.add-swimmer-container input[type="text"],
.add-swimmer-container input[type="number"],
.add-swimmer-container input[type="email"],
.add-swimmer-container input[type="password"],
.add-swimmer-container select,
.add-swimmer-container textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.add-swimmer-container input[type="text"]:focus,
.add-swimmer-container input[type="number"]:focus,
.add-swimmer-container input[type="email"]:focus,
.add-swimmer-container input[type="password"]:focus,
.add-swimmer-container select:focus,
.add-swimmer-container textarea:focus {
    border-color: #007bff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}

.form-row {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 50px;
}

.inline-container {
    display: flex;
    align-items: center;
}

.form-field {
    margin-top: 5px;
}

.error-box {
    font-weight: bold;
    color: red;
    margin-top: 10px;
    margin-bottom: 10px;
}