{% extends "base_generic.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="title">
            <h1>Swim4Love</h1>
        </div>

        <!-- Add logo -->
        <div class="logo">
            <img src="{% static 'image/s4l_logo.png' %}" alt="Logo">
        </div>

        <!-- Add user info -->
        <div class="user-logged-in" style="position: absolute; top: 10px; right: 10px;">
            {% if user.is_authenticated %}
                Welcome <strong>{{ user.username }} </strong>!
            {% else %}
                <a href="{% url 'login' %}">Login <i class="fa-solid fa-right-to-bracket"></i></a>
            {% endif %}
        </div>

        <div class="counts-container">
            <div class="count-box">
                <strong>Swimmers:</strong>
                <div>{{ num_swimmers }}</div>
            </div>
            <div class="count-box">
                <strong>Volunteers:</strong>
                <div>{{ num_volunteers }}</div>
            </div>
            <div class="count-box">
                <strong>Total Laps:</strong>
                <div>{{ total_laps }}</div>
            </div>
        </div>
        <div class="counts-container">
            <div class="spring-count-box">
                <strong>Spring Laps</strong>
                <div>{{ spring_laps }}</div>
            </div>
            <div class="summer-count-box">
                <strong>Summer Laps</strong>
                <div>{{ summer_laps }}</div>
            </div>
            <div class="autumn-count-box">
                <strong>Autumn Laps</strong>
                <div>{{ autumn_laps }}</div>
            </div>
            <div class="winter-count-box">
                <strong>Winter Laps</strong>
                <div>{{ winter_laps }}</div>
            </div>
        </div>


        <h2>Swimmers</h2>

        <div class="tool-container">
            <div class="leaderboard-container">
                <label for="leaderboard-switch">Enable Leaderboard</label>
                <input type="checkbox" id="leaderboard-switch" onchange="toggleLeaderboard()">
            </div>
            {% if have_perm %}
                <button class="button" onclick="window.location.href='{% url 'add_swimmer' %}'"><i
                        class="fa-solid fa-plus"></i></button>
            {% endif %}
        </div>


        <table class="styled-table" id="swimmersTable">
            <thead>
            <tr>
                <th>
                    <div class="table-header">
                        <span>Name</span>
                        <div class="button-container">
                            <button onclick="sortTable('name', false)" class="asc-sort-button"></button>
                            <button onclick="sortTable('name', true)" class="desc-sort-button"></button>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="table-header">
                        <span>Student ID</span>
                        <div class="button-container">
                            <button onclick="sortTable('student_id')" class="asc-sort-button"></button>
                            <button onclick="sortTable('student_id', true)" class="desc-sort-button"></button>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="table-header">
                        <span>House</span>
                        <div class="button-container">
                            <button onclick="sortTable('house')" class="asc-sort-button"></button>
                            <button onclick="sortTable('house', true)" class="desc-sort-button"></button>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="table-header">
                        <span>Lap Count</span>
                        <div class="button-container">
                            <button onclick="sortTable('lap_count')" class="asc-sort-button"></button>
                            <button onclick="sortTable('lap_count', true)" class="desc-sort-button"></button>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="table-header">
                        <span>Time</span>
                        <div class="button-container">
                            <button onclick="sortTable('time')" class="asc-sort-button"></button>
                            <button onclick="sortTable('time', true)" class="desc-sort-button"></button>
                        </div>
                    </div>
                </th>
                {% if have_perm %}
                    <th></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for swimmer in swimmers %}
                <tr>
                    <td>{{ swimmer.name }}</td>
                    <td>s{{ swimmer.student_id }}</td>
                    <td class="house-{{ swimmer.house|lower }}">{{ swimmer.house }}</td>
                    <td>{{ swimmer.lap_count }}</td>
                    <td>{{ swimmer.minutes }}m {{ swimmer.seconds }}s</td>
                    {% if have_perm %}
                        <td>
                            <form action="{% url 'edit_swimmer' swimmer.student_id %}" method="get">
                                <button type="submit" class="edit-button"><i class="fa-solid fa-pen-to-square"></i>
                                </button>
                            </form>
                            <form action="{% url 'delete_swimmer' swimmer.student_id %}" method="post"
                                  onsubmit="confirmDelete(event)">
                                {% csrf_token %}
                                <button type="submit" class="delete-button"><i class="fa-regular fa-trash-can"></i>
                                </button>
                            </form>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if have_perm %}
            <button class="button" onclick="downloadSwimmersExcel()"><i class="fa-solid fa-download"></i></button>
        {% endif %}


        <h2>Volunteers</h2>
        {% if have_perm %}
            <button class="button" onclick="window.location.href='{% url 'add_volunteer' %}'"><i
                    class="fa-solid fa-plus"></i></button>
        {% endif %}
        <div class="volunteer-grid">
            {% for volunteer in volunteers %}
                <div class="volunteer-box">
                    <span class="volunteer-name">{{ volunteer.name }}</span>
                    {% if have_perm %}
                        <form action="{% url 'delete_volunteer' volunteer.student_id %}" method="post"
                              onsubmit="confirmDelete(event)">
                            {% csrf_token %}
                            <button type="submit" class="delete-volunteer-button"><i class="fa-solid fa-trash"></i>
                            </button>
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}